# Banco de dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost:5432/cimag_combustivel?schema=public"

# URL da aplicação (Next.js)
NEXTAUTH_URL="http://localhost:3000"

# Secret para NextAuth.js (gere com: openssl rand -base64 32)
NEXTAUTH_SECRET="sua-chave-secreta-aqui"
